<div class="container" id="select-car">
	<img src="images/bentley.png">
	<form>
		<div class="form-group">
			<label id="car-choice">
				Which vehicle are you interested in?
			</label>
			<select ng-model="selectedItem" ng-options="car.model for car in carList">
			</select>
		</div>
		<div class="form-group">
			<label for=""></label>
			<div ng-show="view=='true'">
				<button class="btn btn-primary" ng-click="chooseCar()">Submit</button>
				<button class="btn btn-warning" ng-click="compare()">Compare</button>
			</div>
			<div ng-show="view=='false'">
				<button class="btn btn-primary" ng-click="chooseCar()">Submit</button>
			</div>


		</div>
	</form>
</div>

<!-- <select ng-model="selectedItem">
	<option ng-repeat="car in carList" value="{{car}}">
	{{car.model}}</option>
</select> -->