<div class="container" id="select-car">
	<img src="images/bentley.png">
	<form>
		<div class="form-group">
			<label>
				Which car are you interested in?
			</label>
			<select ng-model="selectedItem" ng-options="car.model for car in carList">
			</select>
		</div>
		<div class="form-group">
			<label for=""></label>
			<button class="btn btn-primary" ng-click="chooseCar()">Submit</button>
			
		</div>
	</form>
</div>

<!-- <select ng-model="selectedItem">
	<option ng-repeat="car in carList" value="{{car}}">
	{{car.model}}</option>
</select> -->