/* line 3, ../compass/sass/style.scss */
.main {
  background: blue;
}

/* line 7, ../compass/sass/style.scss */
.container {
  font-size: 14px;
}
/* line 9, ../compass/sass/style.scss */
.container a {
  text-decoration: none;
}

/* line 14, ../compass/sass/style.scss */
.container {
  font-size: 14px;
}
/* line 16, ../compass/sass/style.scss */
.container li {
  list-style: none;
  font-size: 15px;
}
/* line 19, ../compass/sass/style.scss */
.container li a {
  text-decoration: none;
}

/* line 25, ../compass/sass/style.scss */
.container {
  background-color: green;
}
