/* line 5, ../compass/sass/style.scss */
#heading {
  background: #c3c3c3;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 3px;
  position: fixed;
  z-index: 100;
}
/* line 13, ../compass/sass/style.scss */
#heading h1 {
  padding: 0px;
  margin: 0px;
}

/* line 19, ../compass/sass/style.scss */
.content {
  margin-top: 100px;
}

/* line 23, ../compass/sass/style.scss */
.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 30, ../compass/sass/style.scss */
#total-wrapper {
  padding: 0px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

/* line 38, ../compass/sass/style.scss */
#enterdata img {
  max-width: 400px;
}
/* line 42, ../compass/sass/style.scss */
#enterdata form input {
  text-align: center;
  font-size: 20px;
}

/* line 50, ../compass/sass/style.scss */
#editdata img {
  max-width: 400px;
}
/* line 54, ../compass/sass/style.scss */
#editdata form input {
  text-align: center;
  font-size: 20px;
}

/* line 61, ../compass/sass/style.scss */
#select-car {
  text-align: center;
}
/* line 63, ../compass/sass/style.scss */
#select-car img {
  max-width: 400px;
}

/* line 70, ../compass/sass/style.scss */
#compare-cars-wrapper #compare-cars #image-container {
  height: 200px;
  width: 90%;
  text-align: center;
}
/* line 74, ../compass/sass/style.scss */
#compare-cars-wrapper #compare-cars #image-container img {
  max-height: 200px;
  max-width: 100%;
}
/* line 79, ../compass/sass/style.scss */
#compare-cars-wrapper #compare-cars #vehicle {
  text-align: center;
  letter-spacing: 3px;
}
/* line 83, ../compass/sass/style.scss */
#compare-cars-wrapper #compare-cars .text {
  width: 48%;
  margin-right: 2%;
  float: left;
  text-align: right;
  font-size: 18px;
}
/* line 90, ../compass/sass/style.scss */
#compare-cars-wrapper #compare-cars .data {
  width: 50%;
  float: left;
  text-align: left;
  font-size: 18px;
}
/* line 97, ../compass/sass/style.scss */
#compare-cars-wrapper button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* line 105, ../compass/sass/style.scss */
#car-choice {
  font-size: 20px;
  margin-top: 20px;
}

/* line 110, ../compass/sass/style.scss */
.form-group {
  color: #595959;
}

/* line 114, ../compass/sass/style.scss */
#msrp {
  margin-bottom: 20px;
}

/* line 118, ../compass/sass/style.scss */
#line {
  width: 100%;
  height: 2px;
  background-color: orange;
  margin-bottom: 20px;
}

/* line 125, ../compass/sass/style.scss */
#buttons {
  margin-top: 20px;
}
