/* line 1, ../compass/sass/style.scss */
#total-wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}

/* line 9, ../compass/sass/style.scss */
#enterdata img {
  max-width: 400px;
}

/* line 14, ../compass/sass/style.scss */
#select-car {
  text-align: center;
}
